DATABASE_URL=postgresql+asyncpg://app:CHANGE_ME@192.168.20.10:5432/fibaro10_local
PROTECT_LEDGER_VERSION=1
PROTECT_LEDGER_BUILD=17
UNIFI_PROTECT_NVR_URL=https://192.168.1.1
UNIFI_PROTECT_API_KEY=CHANGE_ME_LOCAL_PROTECT_API_KEY
UNIFI_PROTECT_VERIFY_SSL=false
UNIFI_PROTECT_CONSOLE_KEY=lilletorget
UNIFI_PROTECT_CAMERA_IDS=
UNIFI_PROTECT_EVENT_TYPES=
UNIFI_PROTECT_RECONNECT_MIN_SECONDS=2
UNIFI_PROTECT_RECONNECT_MAX_SECONDS=60
UNIFI_PROTECT_HOST_SNAPSHOT_DIR=/share/CACHEDEV3_DATA/fibaro10_archive/unifi_protect/snapshots
UNIFI_PROTECT_READ_API_TOKEN=CHANGE_ME_LONG_RANDOM_READ_TOKEN
UNIFI_PROTECT_WEBHOOK_TOKEN=CHANGE_ME_LONG_RANDOM_WEBHOOK_TOKEN
UNIFI_PROTECT_WEBHOOK_ALLOWED_IPS=192.168.1.1,192.168.20.1
UNIFI_PROTECT_SNAPSHOT_WORKERS=2
UNIFI_PROTECT_SNAPSHOT_QUEUE_SIZE=1000
UNIFI_PROTECT_RECOGNITION_SNAPSHOT_WORKERS=2
UNIFI_PROTECT_API_TIMEOUT_SECONDS=10
VISUAL_AI_URL=http://visual_anomaly_service:8140
VISUAL_AI_TOKEN=CHANGE_ME_LONG_RANDOM_VISUAL_AI_TOKEN
VISUAL_AI_TIMEOUT_SECONDS=30
VISUAL_AI_HOST_DATA_DIR=/share/CACHEDEV3_DATA/fibaro10_archive/visual_ai
FIBARO10_NIGHTLY_BACKUP_STATUS_DIR=/share/CACHEDEV3_DATA/fibaro10_archive/fibaro10_backups
FIBARO10_FULL_BACKUP_STATUS_DIR=/share/CACHEDEV3_DATA/fibaro10_archive/full_restore_backup/latest
VISUAL_AI_AUTO_TRAIN=true
VISUAL_AI_SAMPLE_LIMIT=240
PATCHCORE_TORCH_THREADS=4
PROTECT_PLATE_VALIDATION_ENABLED=true
PROTECT_PLATE_VALIDATION_INTERVAL_SECONDS=30
PROTECT_PLATE_VALIDATION_BATCH_SIZE=20
PROTECT_PLATE_VALIDATION_TIMEOUT_SECONDS=30
PROTECT_PLATE_VALIDATION_CACHE_DAYS=30
PROTECT_PLATE_NEGATIVE_CACHE_DAYS=7
PROTECT_PLATE_RETRY_MINUTES=30
PROTECT_BOLLARD_NTFY_TOPIC=
MAINTENANCE_MOBILE_BUILD=1469
SVV_API_KEY=CHANGE_ME_STATENS_VEGVESEN_API_KEY
SVV_API_URL=https://www.vegvesen.no/ws/no/vegvesen/kjoretoy/felles/datautlevering/enkeltoppslag/kjoretoydata
SVV_API_AUTH_HEADER=SVV-Authorization
SVV_API_AUTH_PREFIX=Apikey
MASTER_ACCESS_KEY_HASH=752ede847bd180ef3d2700d117d297ced1b25664b946a3639fb7a3b2be93d5d1
MET_LAT=61.1153
MET_LON=10.4662
MET_USER_AGENT=fibaro10-qnap/1.0
NTFY_BASE_URL=https://ntfy.sh
ALARM_APP_URL=https://alarm.lilletorget.net
ALARM_MOBILE_SESSION_SECRET=CHANGE_ME_LONG_RANDOM_COOKIE_SECRET
ALARM_MOBILE_BUILD=3
OPENAI_MODEL=gpt-4.1-mini
HC3_BASE_URL=http://192.168.20.10
HC3_USER=CHANGE_ME_HC3_USER
HC3_PASS=CHANGE_ME_HC3_PASSWORD
HC3_DOOR_UNEXPECTED_CHECK_ENABLED=true
HC3_DOOR_UNEXPECTED_CHECK_INTERVAL_SECONDS=60
HC3_DOOR_UNEXPECTED_CHECK_INITIAL_DELAY_SECONDS=20
HC3_DOOR_UNEXPECTED_RECHECK_MINUTES=10
HC3_DOOR_OTHER_OPEN_VERIFY_MINUTES=10
HC3_DOOR_SOLROOM_CLOSED_VERIFY_MINUTES=90
HC3_DOOR_POLL_TIMEOUT_SECONDS=8
SUNROOM_DOOR_NO_SESSION_ALARM_MINUTES=8
EASYPARK_DOWNLOADER_URL=http://easypark_downloader:8109
EASYPARK_HOST_DATA_DIR=/share/CACHEDEV2_DATA/fibaro10_runtime/easypark_downloader/data
CAR_INFO_LOOKUP_URL=http://car_info_lookup:8126
CAR_INFO_APP_TOKEN=CHANGE_ME_LONG_RANDOM_TOKEN
CAR_INFO_URL_TEMPLATE=https://biluppgifter.se/fordon/{plate_lower}/
TJEKBIL_URL_TEMPLATE=https://www.tjekbil.dk/api/v3/dmr/regnr/{plate}
CAR_INFO_AUTO_TRIGGER_ENABLED=true
CAR_INFO_AUTO_TRIGGER_MAX_PER_SVV_RUN=1
CAR_INFO_RUN_INTERVAL_MINUTES=30
CAR_INFO_BATCH_SIZE=1
CAR_INFO_REQUEST_DELAY_SECONDS=300
CAR_INFO_RATE_LIMIT_BACKOFF_MINUTES=240
CAR_INFO_BACKLOG_ENABLED=true
CAR_INFO_BACKLOG_MAX_PER_CYCLE=1000
CAR_INFO_BACKLOG_DELAY_SECONDS=300
CAR_INFO_SWEDISH_BACKLOG_DELAY_SECONDS=2
CAR_INFO_DANISH_BACKLOG_DELAY_SECONDS=0
CAR_INFO_BACKLOG_COUNTRY_SEQUENCE=DK,S
KOBLE_WORKER_TOKEN=CHANGE_ME_LONG_RANDOM_TOKEN
KOBLE_RUN_ON_START=true
KOBLE_LOOP_SLEEP_SECONDS=0.2
OWNTRACKS_DATA_DIR=/data
OWNTRACKS_HOST_DATA_DIR=/share/CACHEDEV2_DATA/fibaro10_runtime/owntracks_service/data
OWNTRACKS_HTTP_TOKEN=
OWNTRACKS_PUBLIC_BASE_URL=https://owntracks.lilletorget.net
OWNTRACKS_APP_BUILD=26
OWNTRACKS_SERVICE_URL=http://owntracks_service:8128
OWNTRACKS_VISIT_SYNC_ENABLED=true
OWNTRACKS_VISIT_SYNC_INTERVAL_SECONDS=60
OWNTRACKS_VISIT_SYNC_LOOKBACK_HOURS=336
OWNTRACKS_LILLETORGET_WAYPOINTS=Lilletorget 3,Lilletorget,Sun2
OWNTRACKS_SITE_VISIT_LOCATION_KEY=lilletorget
OWNTRACKS_SITE_VISIT_LOCATION_NAME=Lilletorget
SITE_VISIT_MAINTENANCE_LINK_MARGIN_MINUTES=30
AXIS_HOST_SNAPSHOT_DIR=/share/CACHEDEV3_DATA/fibaro10_archive/axis_camera_snapshots/snapshots
AXIS_HOST_DATA_DIR=/share/CACHEDEV2_DATA/fibaro10_runtime/axis_camera_snapshots/data
CAR_INFO_HOST_DATA_DIR=/share/CACHEDEV2_DATA/fibaro10_runtime/car_info_lookup/data
SUN2_DAILY_DATA_DIR=/share/CACHEDEV1_DATA/Public/containerdata/sun2_daily_data
SUN2_SESSION_SCRAPER_HOST_DATA_DIR=/share/CACHEDEV2_DATA/fibaro10_runtime/sun2_session_scraper/data
FIBARO10_CADDY_DATA_DIR=/share/CACHEDEV2_DATA/fibaro10_runtime/caddy/data
FIBARO10_CADDY_CONFIG_DIR=/share/CACHEDEV2_DATA/fibaro10_runtime/caddy/config
DOMENESHOP_API_TOKEN=CHANGE_ME_DOMENESHOP_API_TOKEN
DOMENESHOP_API_SECRET=CHANGE_ME_DOMENESHOP_API_SECRET
LETSENCRYPT_EMAIL=CHANGE_ME_EMAIL
FIBARO10_TLS_CERT_DIR=/share/CACHEDEV2_DATA/fibaro10_runtime/caddy/lego
FIBARO10_LEGO_IMAGE=goacme/lego:v4.26.0
MAINTENANCE_MOBILE_SESSION_SECRET=CHANGE_ME_LONG_RANDOM_COOKIE_SECRET
FIBARO10_IPAD_SESSION_SECRET=CHANGE_ME_LONG_RANDOM_COOKIE_SECRET
FIBARO10_APP_URL=https://fibaro10.lilletorget.net
FIBARO10_IPAD_APP_BUILD=1476
REVENUE_APP_BUILD=31
PARKING_APP_BUILD=23
REVENUE_APP_URL=https://omsetning.lilletorget.net
PARKING_APP_URL=https://parkering.lilletorget.net
SUN_APP_BUILD=23
SUN_APP_URL=https://soling.lilletorget.net
ENERGY_APP_BUILD=20
ENERGY_APP_URL=https://energi.lilletorget.net
OPERATIONS_APP_BUILD=26
OPERATIONS_APP_URL=https://drift.lilletorget.net
MAINTENANCE_APP_BUILD=19
MAINTENANCE_APP_URL=https://vedlikehold.lilletorget.net
SYSTEM_APP_BUILD=25
SYSTEM_APP_URL=https://system.lilletorget.net
LINK_APP_BUILD=18
LINK_APP_URL=https://koble.lilletorget.net
SHELL_APP_BUILD=29
SHELL_APP_URL=https://app.lilletorget.net
SLOW_REQUEST_WARNING_MS=1500
OPERATIONAL_RETENTION_ENABLED=true
OPERATIONAL_RETENTION_INTERVAL_HOURS=24
ACCESS_LOG_SUCCESS_RETENTION_DAYS=90
ACCESS_LOG_FAILURE_RETENTION_DAYS=365
IMPORT_JOB_SUCCESS_RETENTION_DAYS=90
IMPORT_JOB_FAILURE_RETENTION_DAYS=365
NOTIFICATION_SENT_RETENTION_DAYS=30
AUTH_SESSION_RETENTION_DAYS=30
AUTH_SESSION_COOKIE_DOMAIN=.lilletorget.net
SUN2_AXIS_SNAPSHOT_OFFSET_SECONDS=15
SUN2_AXIS_SNAPSHOT_MINUTE_ASSUMED_SECOND=30
SUN2_AXIS_SNAPSHOT_TOLERANCE_SECONDS=8
AXIS_CAPTURE_START_TIME=06:45
AXIS_CAPTURE_END_TIME=23:00
