{
	admin off
}

online.lilletorget.net {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	@owntracks_http path /owntracks /owntracks/*
	reverse_proxy @owntracks_http owntracks_service:8128

	reverse_proxy online_dashboard:8111 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
	}
}

vedl.lilletorget.net {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		-Server
	}

	reverse_proxy maintenance_mobile:8112 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}
}
