ROBOROCK_EMAIL=roborock.sun2@gmail.com
ROBOROCK_DATA_DIR=/data
ROBOROCK_SUBNET=192.168.2.
COLLECTOR_ID=qnap-roborock-logger

FIBARO10_API_BASE_URL=https://fibaro10.onrender.com
FIBARO10_API_USERNAME=logger
FIBARO10_API_PASSWORD=endre-dette

STATUS_INTERVAL_SECONDS=300
HISTORY_LIMIT=10
MAP_SYNC_ON_START=true
AUTO_SYNC_ENABLED=true
