EASYPARK_USERNAME=
EASYPARK_PASSWORD=
EASYPARK_GMAIL_EMAIL=
EASYPARK_GMAIL_APP_PASSWORD=
EASYPARK_REPORT_URL=https://dashboard.easypark.net/search-parkings/1
EASYPARK_RUN_INTERVAL_MINUTES=1440
EASYPARK_RUN_AT=02:30
EASYPARK_RUN_ON_START=false
EASYPARK_HEADLESS=false
EASYPARK_CODE_COOLDOWN_MINUTES=5
FIBARO10_BASE_URL=http://fibaro10:8110
FIBARO10_USERNAME=logger
FIBARO10_PASSWORD=robotx
