EASYPARK_USERNAME=
EASYPARK_PASSWORD=
EASYPARK_GMAIL_EMAIL=
EASYPARK_GMAIL_APP_PASSWORD=
EASYPARK_REPORT_URL=https://dashboard.easypark.net/search-parkings/1
EASYPARK_RUN_INTERVAL_MINUTES=1440
EASYPARK_RUN_AT=03:00
EASYPARK_RUN_TIMES=03:00,09:00,12:00,15:00,18:00,21:00
EASYPARK_RUN_EVERY_HOUR=false
EASYPARK_RUN_MINUTE=0
EASYPARK_SCHEDULE_MODE=recent
EASYPARK_RECENT_DAYS=2
EASYPARK_RUN_ON_START=false
EASYPARK_HEADLESS=false
EASYPARK_CODE_COOLDOWN_MINUTES=5
EASYPARK_CODE_WAIT_SECONDS=120
EASYPARK_FORCE_LOGIN_TIMES=
FIBARO10_BASE_URL=http://fibaro10:8110
FIBARO10_USERNAME=logger
FIBARO10_PASSWORD=robotx
